/* diskover style sheet */

.keeprow {
    border-left: 10px solid #5EBFDB;
    color: #5EBFDB;
    opacity: .8;
}

.keeprow a {
    color: #5EBFDB;
}

.archiverow {
    border-left: 10px solid #47AF48;
    color: #47AF48;
    opacity: .8;
}

.archiverow a {
    color: #47AF48;
}

.deleterow {
    border-left: 10px solid #F6962A;
    color: #F6962A;
    opacity: .8;
}

.deleterow a {
    color: #F6962A;
}

.path {
    word-wrap: break-word;
    word-break: break-all;
}

.searchresults {
    padding-left: 20px;
    padding-right: 20px;
}

.results {
    word-wrap: break-word;
    word-break: break-all;
    font-size: 12px;
}

.results tr[visible='false'], .no-result {
    display: none;
}

.results tr[visible='true'] {
    display: table-row;
}

.counter {
    padding: 8px;
    color: #ccc;
}

thead, tfoot {
    color: #6C9EF8;
}

.button-tagfiles {
    color: red;
}

.sortarrows {
    color: #B77FDB;
    font-size: 10px;
}

.sortarrows:hover {
    color: #D89333;
}

.sortarrows-active {
    color: #D89333;
}

.customtag {
    width: 200px;
}

textarea, select, input {
    background-color: #1C1E22!important;
    color: white!important;
}

.file-btns {
    color: #CB77DF;
}
